@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);



*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
    outline: none; border:none;
    text-decoration: none;
    transition: all .2s linear;
    text-transform: capitalize;
}

html {
    scroll-behavior: smooth;
  }

/*Navigation bar*/
section 
{
  /*  position: relative;
    width: 100%;
    min-height:100vh;
    padding: 100px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: #fff;
    */
}
.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 2.5rem;
    min-height:100vh;
    padding: 100px;
    margin: auto;
  }

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

header .logo{
    position: relative;
    max-width: 90px;
}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    list-style: none;
}
header ul li a{
    display:inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration:none;
}
.browse-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff9900;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
.browse-more:hover {
    background-color: #ffbf40;
  }

.content{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textbox{
    position: relative;
    max-width: 600px;
}

.content .textbox h2{
    color:#333;
    font-size: 2.3em;
    line-height: 1.3em;
    font-weight: 400;
}

.content .textbox h2 span{
    color:#EBA949;
    font-size: 1.2em;
    font-weight: 700;
}

.content .textbox p{
    color:#333;
}

.content .textbox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background-color: #ffba52;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.content .imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top:50px;

}
.content .imgBox img{
    max-width: 340px;
}

.thumb_opt{
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    display: flex;
}

.thumb_opt li {
    list-style:none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.thumb_opt li:hover{
    transform: translateY(-15px);
}
.thumb_opt li img {
    max-width: 60px;
}

.circle{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffba52;
    clip-path: circle(600px at right 800px);
}

/*Products*/

.container{
    max-width: auto ;
    margin:0 auto;
    padding:3rem 2rem;
    align-items: center;
 }
 
 .container .title{
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
 }
 
 .container .products-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap:2rem;
 }
 
 .container .products-container .product{
    text-align: center;
    padding:3rem 2rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    outline: .1rem solid #ccc;
    outline-offset: -1.5rem;
    cursor: pointer;
 }
 
 .container .products-container .product:hover{
    outline: .2rem solid #222;
    outline-offset: 0;
 }
 
 .container .products-container .product img{
    height: 5rem;
 }
 
 .container .products-container .product:hover img{
    transform: scale(.9);
 }
 
 .container .products-container .product h4{
    padding:.5rem 0;
    font-size: 2rem;
    color:#444;
 }
 
 .container .products-container .product:hover h4 {
    color:#EBA949;
 }
 
 .container .products-container .product .price{
    font-size: 1rem;
    color:#444;
 }
 
 .products-preview{
    position: fixed;
    top:0; left:0;
    min-height: 50vh;
    width: 100%;
    background: rgba(0,0,0,.8);
    display: none;
    align-items: center;
    justify-content: center;
 }
 
 .products-preview .preview{
    display: none;
    padding:2rem;
    text-align: center;
    background: #fff;
    position: relative;
    margin:2rem;
    width: 40rem;
 }
 
 .products-preview .preview.active{
    display: inline-block;
 }
 
 .products-preview .preview img{
    height: 30rem;
 }
 
 .products-preview .preview .fa-times{
    position: absolute;
    top:1rem; right:1.5rem;
    cursor: pointer;
    color:#444;
    font-size: 4rem;
 }
 
 .products-preview .preview .fa-times:hover{
    transform: rotate(90deg);
 }
 
 .products-preview .preview h5{
    color:#444;
    padding:.5rem 0;
    font-size: 0.5rem;
 }
 
 .products-preview .preview .stars{
    padding:1rem 0;
    font-size: 1.7rem;
 }
 
 .products-preview .preview .stars i{
    color:#EBA949;
 }
 
 .products-preview .preview .stars span{
    color:#999;
    font-size: 0.5rem;
 }
 
 .products-preview .preview p{
    line-height: 1.5;
    padding:1rem 0;
    font-size: 1.6rem;
    color:#777;
 }
 
 .products-preview .preview .price{
    padding:1rem 0;
    font-size: 2.5rem;
    color:#EBA949;
 }
 



/*About*/
#more {
    display: none;
}


.about{
    width:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin:20px auto;
    padding: 10px;
}

.about p{
    font-size: 18px;
    margin-bottom: 35px;
    
}
.about-textbox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background-color: #ffba52;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.about-content{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.about-content .about-textbox{
    position: relative;
    max-width: 600px;
}

.about-content .about-textbox h2{
    color:#333;
    font-size: 2.3em;
    line-height: 1.3em;
    font-weight: 400;
}

.about-content .about-textbox h2 span{
    color:#EBA949;
    font-size: 1.2em;
    font-weight: 700;
}

.about-content .about-textbox p{
    color:#A20A0A;
}



/*CTA*/
.cta {
        background-color: #F6EEC9;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px;
    
  }
  
.cta h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
.cta p {
    font-size: 18px;
    margin-bottom: 20px;
  }

.cta-image{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top:50px;
  }
.cta-image img{
    max-width: 340px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff9900;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .cta-button:hover {
    background-color: #ffbf40;
  }



/*Contact*/
.contact {
    margin-top: 2rem;
  }
  
.contact h2 {
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
}

  .contact-form-container {
    max-width: 20.75rem;
    min-height: 10rem;
    margin: 0 auto;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
  }

 

form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #EBA949;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #EBA949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#ffba52;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#EBA949; }

/*Footer*/
.footer {
    background-color: #EBA949;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }