body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background:#ff9900;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.todo-app {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.todo-app h1 {
  text-align: center;
  color: #333;
}

.input-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

#taskInput {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}



#addTaskButton {
  background-color: #ff9900;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#addTaskButton:hover {
  background-color: #ffbf40;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.completed-task {
  text-decoration: line-through;
  color: #888;
}

.delete-button {
  color: #fcbe61;
  cursor: pointer;
  transition: color 0.3s;
}

.delete-button:hover {
  color: #ff9900;
}
